@page
@model SistemaGestionInventario.Pages.Inventory.ArticlesModel
@{
    ViewData["Title"] = "Index Articles page";
}

<div class="">
    <h3 class="text-3xl font-bold">Getión de Artículos</h3>
    <p class="mt-1 text-gray-500">Administrar productos y especificaciones del inventario</p>
</div>
