@page
@model SistemaGestionInventario.Pages.Transactions.IndexModel
@{
    ViewData["Title"] = "Index Transactions page";
}

<div class="">
    <h1 class="text-red-500">Index Transactions Page</h1>
</div>

